{% extends 'base.html.twig' %}

{% block title %}New BigFolkDistrict{% endblock %}

{% block body %}
    <h1>Create new BigFolkDistrict</h1>

    {{ include('big_folk_district/_form.html.twig') }}

    <a href="{{ path('app_big_folk_district_index') }}">back to list</a>
{% endblock %}
